<ion-content class="ion-padding" [fullscreen]="true" style="background-color: white;">
  <ion-grid>
    <ion-row style="text-align: center;justify-content: center;">
      <ion-col>
        <div style="display: flex; align-items: center; justify-content: center; gap: 4px;">
          <ion-icon name="location-outline" size="large" color="primary"></ion-icon>
          <ion-text style="color: black;">
            <h2 style="margin: 0;">Madurai</h2>
          </ion-text>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="align-items: center;text-align: center;">
        <ion-text color="medium">{{this.date}}</ion-text>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>